<%-include partiels/head%>
    <%-include partiels/nav%>
        <!-- <h1>Candidat</h1>
        <h3>En construction</h3> -->

        <div class="container my-5">
            <!-- <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item">
                  <a class="nav-link active candidature" id="profil-tab" data-toggle="tab" href="#profil" role="tab" aria-controls="profil" aria-selected="true">Profil</a>
                </li>

                <li class="nav-item">
                  <a class="nav-link candidature" id="candidature-tab" data-toggle="tab" href="#candidature" role="tab" aria-controls="candidature" aria-selected="false">Mes candidatures</a>
                </li>
              </ul>
              <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active m-2" id="profil" role="tabpanel" aria-labelledby="profil-tab">
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Animi, itaque accusantium eligendi maxime libero nesciunt esse ullam omnis cumque! Consectetur ducimus excepturi atque vitae ipsam incidunt quae voluptas doloribus saepe dolores laudantium distinctio, impedit natus doloremque tempora a consequuntur fugit reiciendis sequi iure soluta sunt officiis. Placeat alias quaerat recusandae iusto dolorum sint quod error ipsum, sit minima totam sed necessitatibus expedita impedit id perspiciatis facere asperiores! Nam modi beatae consectetur saepe quia at ducimus eligendi quidem et, fugiat blanditiis exercitationem ab adipisci odit quibusdam voluptas cum. Illo, nobis aspernatur rerum dolor commodi reprehenderit cumque nulla architecto. Architecto, recusandae molestias.
                </div>

                <div class="tab-pane fade m-2" id="candidature" role="tabpanel" aria-labelledby="candidature-tab">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus, blanditiis delectus. A dolor velit sit excepturi fugiat beatae recusandae, similique aspernatur esse reprehenderit tempore ex laudantium eaque dolores optio nesciunt autem suscipit amet. Optio ea architecto qui, incidunt eum amet odio libero sit quibusdam eos commodi adipisci accusantium saepe id voluptatibus, iure aliquid corporis molestiae cum corrupti eligendi aspernatur perspiciatis officia ratione. Eos natus at vel consequatur officiis ducimus. Excepturi possimus voluptatibus, consectetur eos et ab placeat odit odio accusantium porro vitae error rerum beatae dolorum ex laudantium fugiat aspernatur modi maiores. Eveniet pariatur molestias porro laudantium labore cum dicta!
                </div>
              </div> -->


            <div class="row">
                <div class="col-3 border border-black border-top-0 border-left-0 border-bottom-0 rounded-0">
                    <div class="nav flex-column nav-pills border border-black rounded p-2 bg-secondary" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                        <a class="nav-link candidature active" id="v-pills-profil-tab" data-toggle="pill" href="#v-pills-profil" role="tab" aria-controls="v-pills-profil" aria-selected="true">Profil</a>
                        <a class="nav-link candidature" id="v-pills-candidature-tab" data-toggle="pill" href="#v-pills-candidature" role="tab" aria-controls="v-pills-candidature" aria-selected="false">Mes candidatures</a>
                    </div>
                </div>
                <div class="col-9">
                    <div class="tab-content" id="v-pills-tabContent">
                        <div class="tab-pane fade show active" id="v-pills-profil" role="tabpanel" aria-labelledby="v-pills-profil-tab">
                            VOICE LA PARTIE PROFIL !<br>
                            <%=infoCandidat.nom+" "+infoCandidat.prenom%>
                                <BR>
                                <%=infoCandidat.adresse+" "+infoCandidat.codePostal+" "+infoCandidat.ville%><br>
                                    <!-- Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis et necessitatibus velit consequatur sit? Necessitatibus inventore repellendus quo asperiores, alias sequi animi aut atque error dolorem
                            reiciendis dolore maxime, nostrum vitae reprehenderit? Quam corrupti tenetur porro facilis accusantium fugit vero consectetur sint harum, ab labore est quasi explicabo autem quae? In earum quaerat quibusdam? Quas esse a necessitatibus
                            perferendis. Vitae atque, delectus ullam mollitia corrupti harum non! Nesciunt optio reprehenderit itaque eum doloribus dicta voluptates nam magni repellendus, dolores numquam modi perferendis quaerat asperiores possimus illo
                            repudiandae vel? Ut expedita odit temporibus velit delectus numquam excepturi sint eos. Commodi, porro! -->
                        </div>
                        <div class="tab-pane fade" id="v-pills-candidature" role="tabpanel" aria-labelledby="v-pills-candidature-tab">
                            VOICE LA PARTIE CANDIDATURE !<br> Lorem ipsum dolor sit amet consectetur, adipisicing elit. Obcaecati non, veniam deserunt iste, odit similique labore excepturi magni suscipit nobis harum. Tenetur ipsum nam asperiores debitis
                            amet laborum repellat cupiditate eaque laudantium, explicabo voluptates, nobis iste tempora necessitatibus. Veritatis, minus earum! Voluptatibus expedita sed natus? Illum unde, dolor minima quasi, neque dolores tempora cum
                            molestias sequi fuga aliquam! Magni architecto et animi omnis corporis ullam nam rerum voluptatibus voluptatum repudiandae? Nulla maxime iure id voluptatibus nobis expedita quibusdam placeat. Aperiam dolorem eum, culpa, expedita
                            consequuntur ducimus, eligendi esse alias perspiciatis quasi dolore repellat voluptates optio sint saepe magnam earum repellendus possimus quo fuga sunt explicabo aliquam fugit! Iste, nobis provident expedita adipisci, ducimus
                            architecto corrupti incidunt excepturi ut odit nihil, illum sequi doloribus tenetur animi vel cum. Saepe vero perspiciatis molestias esse quidem, sit beatae aspernatur iure ab expedita qui nesciunt iusto, eaque laudantium nisi
                            commodi consequuntur ex ratione maxime libero dignissimos sed neque ipsa quisquam? Quod veniam consequatur facere sapiente placeat culpa iusto. Nesciunt, voluptates vitae et doloribus nulla voluptas vero maxime praesentium
                            libero blanditiis, assumenda commodi asperiores, ratione modi nostrum eius fugiat laboriosam beatae maiores. Beatae deleniti voluptates doloremque aperiam tempora nostrum odio perspiciatis, id necessitatibus asperiores modi.
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <%-include partiels/foot%>