<%-include partiels/head%>
    <%-include partiels/nav%>
        <h1>
            <%= message %>
        </h1>
        <!-- <pre>
            <%=//error%>;</pre> -->

        <%-include partiels/foot%>